*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: aqua;
   
      
    
}
.anton-regular {
    font-family: "Anton", serif;
    font-weight: 400;
    font-style: normal;
  }

